<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="basePath">./resources/logs</Property>
	</Properties>
	<Appenders>
		<File name="FILE" fileName="${basePath}/logfile.log"
			append="true">

			<PatternLayout
				pattern="[%d{ISO8601} %-5level] %logger{36} - %msg%n" />

		</File>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="FILE" level="DEBUG" />
			<AppenderRef ref="STDOUT" level="INFO" />
		</Root>
		<Root level="info">
			<AppenderRef ref="FILE"></AppenderRef>
		</Root>
	</Loggers>
</Configuration>